
body{
	margin: 0;
	padding: 0;
	background-image: url("./pgy.jpg");
	background-repeat:no-repeat;
}


canvas{
	background-color: green;
	border:5px solid red;
}

.a{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.scoreboard{
	width: 100px;
	height: 50px;
	color: white;
	border:5px solid red;
	float: right;
}

.score{
	color: white;
	font-size: 20px;
	text-align: center;
}